.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,20,166,1) 25%, rgba(188,0,255,1) 41%);
}
.heart-button-container {
  text-align: center;
  margin-bottom: 20px;
}

.heart-button {
  background-color: red;
  border: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.heart {
  
  font-size: 10rem;
  color: white;
  
}

.message {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}